<section class="experiencia">
    <h2 class="subtituloImg">Ultimos Trabajos </h2>
    <div class="cardContainer">
        <div class="card-info">
          <img class="logoEmpresa" src="" alt="">
          <div class="info">
            <h3 class="tituloExp">Titulo</h3>
            <p class="descripcionTrabajo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias quibusdam, cum iusto nihil corporis saepe quas ea nostrum aut, adipisci assumenda nesciunt accusamus excepturi qui dicta corrupti dolore iure odit!</p>
            <span>17/07/21</span>
          </div>
        </div>
        <div class="card-info">
          <img class="logoEmpresa" src="" alt="">
          <div>
            <h3 class="tituloExp">Titulo</h3>
            <p class="descripcionTrabajo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias quibusdam, cum iusto nihil corporis saepe quas ea nostrum aut, adipisci assumenda nesciunt accusamus excepturi qui dicta corrupti dolore iure odit!</p>
            <span>17/07/21</span>
          </div>
        </div>
    </div>
  </section>
  <section class="experiencia">
    <h2 class="subtituloImg">Educacion </h2>
    <div class="cardContainer">
        <div class="card-info">
          <img class="logoEmpresa" src="" alt="">
          <div>
            <h3 class="tituloExp">Titulo</h3>
            <p class="descripcionTrabajo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias quibusdam, cum iusto nihil corporis saepe quas ea nostrum aut, adipisci assumenda nesciunt accusamus excepturi qui dicta corrupti dolore iure odit!</p>
            <span>17/07/21</span>
          </div>
        </div>
        <div class="card-info">
          <img class="logoEmpresa" src="" alt="">
          <div>
            <h3 class="tituloExp">Titulo</h3>
            <p class="descripcionTrabajo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias quibusdam, cum iusto nihil corporis saepe quas ea nostrum aut, adipisci assumenda nesciunt accusamus excepturi qui dicta corrupti dolore iure odit!</p>
            <span>17/07/21</span>
          </div>
        </div>
    </div>
  </section>